<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container mt-5">
      <h1>Task Dashboard</h1>
      <a href="{{ url_for('logout') }}" class="btn btn-secondary float-right"
        >Logout</a
      >
      {% if current_user.role == 'admin' %}
      <a href="{{ url_for('user_page')}}" class="btn btn-info float-right mr-2"
        >Create User</a
      >
      <a href="{{ url_for('list_users')}}" class="btn btn-info float-right mr-2"
        >List Users</a
      >
      <a href="{{ url_for('task_page') }}" class="btn btn-info float-right mr-2"
        >Create Task</a
      >
      <a
        href="{{ url_for('list_tasks') }}"
        class="btn btn-info float-right mr-2"
        >List Tasks</a
      >
      {% endif %}

      <div class="container mt-5">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5>Total Tasks</h5>
                <p>{{ task_count }}</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5>Completed Tasks</h5>
                <p>{{ completed_tasks }}</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5>Pending Tasks</h5>
                <p>{{ pending_tasks }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <h4>Tasks Graph</h4>
          <img
            src="data:image/png;base64,{{ chart_base64 }}"
            alt="Task Status Chart"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </body>
</html>
