<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container mt-5">
      <h1>Users List</h1>
      <a href="{{ url_for('logout') }}" class="btn btn-secondary float-right"
        >Logout</a
      >
      {% if current_user.role == 'admin' %}
      <a href="{{ url_for('user_page')}}" class="btn btn-info float-right mr-2"
        >Create User</a
      >
      <a href="{{ url_for('list_users')}}" class="btn btn-info float-right mr-2"
        >List Users</a
      >
      <a href="{{ url_for('task_page') }}" class="btn btn-info float-right mr-2"
        >Create Task</a
      >
      <a
        href="{{ url_for('list_tasks') }}"
        class="btn btn-info float-right mr-2"
        >List Tasks</a
      >
      {% endif %}
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Created Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for person in users %}
          <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.email_id }}</td>
            <td>{{ person.role }}</td>
            <td>{{ person.created_date }}</td>
            <td>
              {% if current_user.role in ['admin', 'dev'] %}
              <a
                href="{{ url_for('user_page', id=person.id) }}"
                class="btn btn-sm btn-warning"
                >Edit</a
              >
              <form
                action="{{ url_for('delete_user', user_id=person.id) }}"
                method="post"
                style="display: inline"
              >
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
